body {
    font-family: sans-serif;
    font-size: 13pt;
    min-width: 600px;
    max-width: 800px;
    margin: 1em auto;
    padding: 1em;
}

footer {
    font-size: 10pt;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 1em;
}

input, select {
    width: 180px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

input[type="button"], select {
    width: 182px; /* results in 150px */
}

nav li {
	list-style-type: none;
	display: inline-block;
	padding: 0 1em;
}

ul#journalList>li {
	list-style-type: none;
	margin: 0 0 1em 0;
	font-weight: bold;
}

ul#journalList ul {
	margin: 0;
	padding: 0;
}

.tag {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	font-weight: normal;
}

#secJournal .tag {
    cursor: crosshair;
}

#correlationList li {
	list-style-type: none;
}

.correlation {
    font-family: mono;
    margin-right: 1em;
    font-weight: bold;
}

.positive {
    color: red;
}

.negative {
    color: green;
}

.neutral {
    color: grey;
}
